# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Configuration and Data
*.cfg
*.pyc
*.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode

#logs
*.log*




